$CPC = #0B4695
$NDP = #F48416
$LPC = #ED2F23
$GPC = #71C50F
$BQ = #00ABF1

$barHeight = 25px

*
    box-sizing: border-box

body
    box-sizing: border-box
    font-family: 'Source Code Pro'        // TODO: add font files
    -webkit-font-smoothing: antialiased
    margin: 0

aside
    position: absolute
    left: 0
    top: 0
    width: 240px
    padding: 10px
    background: #f5f5f5
    background: linear-gradient(#fff, rgba(#f5f5f5, 0.9))
    box-shadow: 1px 1px 2px rgba(#000, 0.1)

    h1
        font-size: 1.2em
        margin: 0 0 10px

    h2
        font-size: 1.1em
        margin: 40px 0 0

.splitForm
    margin-bottom: 20px
    text-shadow: 1px 1px 1px white, 0 0 1px white

    label
        display: flex
        align-items: center
        line-height: 0.9
        margin: 0.2em 0

    select
        margin-right: 3px


.district
    cursor: pointer
    stroke: white
    transition: fill 1s

    &:hover
        opacity: 0.8

    &.selected
        opacity: 0.6
        stroke-width: 4px

    &.CPC
        fill: $CPC
    &.NDP
        fill: $NDP
    &.LPC
        fill: $LPC
    &.GPC
        fill: $GPC
    &.BQ
        fill: $BQ

.barContainer
    position: relative
    display: flex
    align-items: center
    height: $barHeight
    margin-bottom: 2px

    .logo
        width: $barHeight
        height: $barHeight
        float: left

    .total
        position: absolute
        right: 5px
        text-align: right
        line-height: $barHeight
        font-weight: bold
        color: black
        text-shadow: 1px 1px 0 white

    .bar
        height: $barHeight
        background: #ddd
        transition: width 1s
        margin-left: 5px

        &:before
            content: ''

    &.CPC
        .bar
            background-color: $CPC
        .total
            color: $CPC
    &.NDP
        .bar
            background-color: $NDP
        .total
            color: $NDP
    &.LPC
        .bar
            background-color: $LPC
        .total
            color: $LPC
    &.GPC
        .bar
            background-color: $GPC
        .total
            color: $GPC
    &.BQ
        .bar
            background-color: $BQ
        .total
            color: $BQ

.districtInfo
    > h2
        font-size: 1em
        margin: 40px 0 10px
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap

    .bar
        height: 0.6 * $barHeight
