$CPC = #0B4695
$NDP = #F48416
$LPC = #ED2F23
$GRN = #71C50F
$BLC = #00ABF1

$barHeight = 25px

*
    box-sizing: border-box

body
    box-sizing: border-box
    font-family: 'Source Code Pro'        // TODO: add font files
    -webkit-font-smoothing: antialiased
    margin: 0

aside
    position: absolute
    left: 0
    top: 0
    width: 240px
    padding: 10px
    padding-right: 0
    background: rgba(white, 0.5)

    h1
        font-size: 1.2em
        margin: 0 0 10px

    h2
        font-size: 1.1em
        margin: 40px 0 0

.splitForm
    margin-bottom: 20px
    text-shadow: 1px 1px 1px white, 0 0 1px white

    label
        display: flex
        alignItems: center
        line-height: 0.9
        margin: 0.2em 0

    select
        margin-right: 3px


.district
    cursor: pointer
    stroke: white
    transition: fill 1s

    &:hover
        opacity: 0.8

    &.CPC
        fill: $CPC
    &.NDP
        fill: $NDP
    &.LPC
        fill: $LPC
    &.GRN
        fill: $GRN
    &.BLC
        fill: $BLC

.barContainer
    position: relative
    margin-bottom: 2px

    .logo
        width: $barHeight
        height: $barHeight
        float: left

    .total
        position: absolute
        right: 5px
        text-align: right
        line-height: $barHeight
        font-weight: bold
        color: black
        text-shadow: 1px 1px 0 white

    .bar
        height: $barHeight
        background: #ddd
        transition: width 1s
        margin-left: 1.2 * $barHeight

        &:before
            content: ''

    &.CPC
        .bar
            background-color: $CPC
        .total
            color: $CPC
    &.NDP
        .bar
            background-color: $NDP
        .total
            color: $NDP
    &.LPC
        .bar
            background-color: $LPC
        .total
            color: $LPC
    &.GRN
        .bar
            background-color: $GRN
        .total
            color: $GRN
    &.BLC
        .bar
            background-color: $BLC
        .total
            color: $BLC
